
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
$font: 'Montserrat', sans-serif;    
.cusFormfield{
    padding-bottom: 20px;
    .cusLabel{
        color: tomato;
        font-family: $font;
        float: left;
        font-weight: bold;
        padding: 4px;
                            
        }
        #cusInputTag{
       
        background-color: transparent;
        border-radius: 0px;
        border: 1px solid tomato;
        color: white;
        &:active{
        outline: none;
        border: 2px solid tomato;
        }
    }
}