@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
$font: 'Montserrat', sans-serif;

.body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #282828;
    
    .header{
        font-family: $font;
        opacity: 0;
        color: white;
        
    }
    .nav{
        
        display: grid;
        grid-template-columns: 80px 80px;
        place-content: center;
        width: 100vw;
        height: 35px;
        font-size: 20px;
        font-family: $font;
        font-weight: bold;
        
        .nav-items{
            transition: 0.2s;   
            color: tomato;        
        }
        .nav-items:hover{
            font-size: 120%;
            color: tomato;
        }
    }
}

.cusButton{
    // margin-top:10px;
    padding:10px 25px 10px 25px;
    font-weight: bolder;
    // font-size: 120%;
    font-family: $font;
    border: 2px solid tomato;
    background-color: #282828;
    color: tomato;
    outline: none;
    transition: 0.25s;
    
    cursor: pointer;
    &:hover {
        background-color: tomato;
        border-color: tomato;
        color: #282828;
    }
   
    &:active {
        background-color: #282828;
        border-color: tomato;  
        color: #282828;
        animation-name: clicked;
        animation-duration: 0.2s;
    }
    @keyframes clicked {
        0%{
            transform: scale(0.95);
        }
        100%{
            transform: scale(1);
        }
    }
}