@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
$font: 'Montserrat', sans-serif;

.body{
    
    .cusCircles{
        position: absolute;
        border-radius: 50%;
        width: 500px;
        height: 480px;
        background-color: rgb(236, 55, 55);
        margin-top: 80px;
        margin-left: -200px;
        display: grid;
        place-content: center;
        animation-name: mainCircle;
        animation-duration: 5s;
        animation-iteration-count: 1;
        opacity: 1;       
        transition: 2s;
        animation-fill-mode: forwards;
        &:hover{
            
           
            
        }
       
        @keyframes mainCircle {
            0%{
                transform: scale(0.8);
              }

              100%{
                transform: scale(1.1);
              }
        }

            .circle1{
     
            border-radius: 50%;
            width: 400px;
            height: 380px;
            background-color: rgb(230, 117, 97);
            display: grid;
            place-content: center;
            animation-name: circle1;
            animation-duration: 8s;
            animation-iteration-count: infinite;

            @keyframes circle1 {
                50%{
                    transform: scale(1.1);
                }
                100%{
                    transform: scale(1);
                }     
            }

                .circle2{
                    opacity: 1;
                    border-radius: 50%;
                    width: 250px;
                    height: 230px;
                    background-color: rgb(248, 48, 48);
                    animation-name: circle2;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-delay: 2s;

                    @keyframes circle2 {
                        50%{
                            transform: scale(1.2);
                        }
                        100%{
                            transform: scale(1);
                        }     
                    }
        
                }
            }
    }
    .cardBody{
        width: 100vw;
        height: 80vh;
        // border: 1px solid black;
        display: grid;
        place-content: center;
        font-size: 25px;
        font-family: $font;
        font-weight: bold;
        color: white;
        
        .card{
            // opacity: 0;
            padding: 40px;
            // border: 1px solid red;
            margin:80px -200px -80px 200px;
           
            opacity: 0;
           transition: 0.5s;
                
                .cusText{
                    transform: skewY(60deg);
                }
            
        }
    }
    
}