@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
$font: 'Montserrat', sans-serif;
.shortnerBody{
    .stepperBackground{
        background-color: #282828;
    }
    margin-bottom: 150px;
   .cusDiv{
       width: 600px;
       padding: 30px;
       .cusLabel{
            color: tomato;
            font-family: $font;
            float: left;
            font-weight: bold;
            padding: 4px; 
            
        }
        .cusInput{
            background-color: transparent;
            border-radius: 0px;
            border: 1px solid tomato;
            color: white;
            width: 100%;
            padding: 10px;
            
            &:focus{
                outline: none;
                color: tomato;
            }
        }
    }
}