@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
$font: 'Montserrat', sans-serif;
.error-shake{
    color: tomato;
    opacity: 1;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 1;
    @keyframes shake {
        50%{
            margin-right: 5px;
        }
        100%{
            margin-right:-5px;
        }
    }
}